.jumbotron{
    background-color: #2E2D88;
    color:white;
 
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    padding-left: 3rem;
    padding-right:3rem;
    border-radius: 1rem;
    font-size: 1.7rem;

}